@media (min-width: 2000px) and (orientation: landscape) and (max-width: 3440px)
	.modal
		.modal-wrapper
			max-width: 36%			
	.modalW
		.modal-wrapperW
			max-width: 20%			
	
@media (min-width: 1024px) and (max-width: 1920px)
	.container
		width: 90%
		.languages
			padding-top: 60px 
			.language
				&:nth-child(2)
				  margin-left: 22px
		.modal
			.modal-wrapper
				max-width: 50%
				top: 1%
		.modalW
			.modal-wrapperW
				max-width: 30%
				top: 1%	
				
@media (max-width: 992px)
	.container
		flex-direction: column
		.languages
			.language
				&:nth-child(1)
					margin-right: 0
				&:nth-child(2)
					margin-left: 0
				&:nth-child(3)
					margin-right: 0
					margin-bottom: 30px			
		.resume
			&_wrap
				.list_item__title
					font-size: 13px
				.about
					.position					
						display: block
		&_photo
			height: 200px
			width: 200px
			margin: 10px auto 
			width: 70%
		.profile
			position: relative
			&:before
				content: ''
				width: 100%
				height: 150px
				background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(195,195,195,1) 0%, rgba(60,60,60,1) 100%);
				display: block
				position: absolute
			&_photo
				height: 200px
				width: 200px
				border: 3px solid #fff
				margin: 10px auto
				position: relative
				z-index: 4				
			.lines
				display: none
			.languages
				justify-content: space-between				
				
@media (max-width: 768px)
	.container
		width: 90%
		.languages
			.language
			  &:nth-child(1)
					margin-right: 0		
		.resume
			padding: 10px	
			.resume_wrap
				padding-left: 20px
				padding-right: 20px
				.list_item__title
					font-size: 14px
				.list_item__date
					font-size: 12px
				.list_item__text
					font-size: 13px
					line-height: 1.4
			.about_contacts__link
				display: block
				font-size: 13px
		.modalW
			.modal-wrapperW
				width: 85%	
	
@media (max-width: 567px)
	.container
		.languages
			.language
				&:nth-child(1)
					margin-right: 0
					margin-bottom: 30px
		.logo_lines
			margin-left: 8px
			margin-right: 8px
		.profile
			&_info
				.languages
					justify-content: space-between
	
@media (max-width: 416px)
	.container
		.languages
			.language
				font-size: 13px
				&:nth-child(3)
					margin: 0 auto
		.resume
			&_wrap
				.logo
					display: none
		.modal
			.modal-wrapper
				width: 90%
		.modalW
			.modal-wrapperW
				width: 90%