html, body, header, #intro {
    height: 100%;
}

#intro {
    background: url(../img/background.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}

h3, #footer {
    margin-top: 150px;
}

#opacity, #color {        
    opacity:0.8;
    -moz-opacity:0.8;
    filter: alpha(opacity=80) black;
    -khtml-opacity: 0.8;
    background-color:#2c3033;        
    }

li {
    font-weight: 500;
    }

















    
