* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.promo {
    height: 800px;
    background: url('../img/bg.jpg') center center/cover no-repeat;
    /*
    "center center" - означает, что по оси х и по оси у картинка выровняется по центру
    "cover" - означает, что картинка растянется, если она не помещается
    */
    padding: 39px 0 62px 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.logo .logo_img {
    /* 
    свойство "margin: 0 auto;", которое отображает элементы по центру, не работает с строчно-блочными (лого) элементами. Работает только с блочными элементами, поэтому в начале прописываем "display:block;"
    */
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.title {
    font-size: 41px;    
    color: rgb(249, 191, 59);
    text-transform: uppercase;
    line-height: 24px;
    text-align: center;
    font-weight: 900;
}

h2.title {
    margin-top: 30px;
    /*
    пробел не ставиться, так как это один элемент, а не вложенность
    */
}

.simple .title_big {
    font-size: 80px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-transform: uppercase; 
    text-align: center;
    margin-top: 21px;  
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.promo .promo_text span {
    color: #F9BF3B;
    font-weight: 700;
} 

.promo .promo_btn {   
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    /* 
    выпуклость, смещение по оси "х", смещение по оси "y", размытие, цвет+альфа-канал (прозрачность)
    */
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid (0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);   
    /* кнопка */
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
  }

.more {
    margin-top: 73px;      
  }

.more .more_text {
    color: rgb(255, 255, 255);
    font-size: 15px;  
    font-weight: 400;        
    text-transform: uppercase;    
    text-align: center;
  }

.more .more_img {
      display: block;
      margin: 0 auto;
      margin-top: 13px;
  }

.waiting {
    min-height: 604px;
    padding: 85px 0 75px 0;
  }
  
.waiting .waiting_header, .finish .finish_header { 
    font-size: 30px;
    color: rgb(37, 37, 37);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
  }

.waiting .waiting_divider, .finish .finish_divider { 
    width: 217px;
    height: 4px;       
    background-color: rgb(249, 191, 59);    
    margin: 0 auto;
    margin-top: 18px;
  }

.waiting .waiting_subheader {
    margin-top: 17px;
    color: rgb(74, 74, 74);  
    font-size: 23px;  
    font-weight: 400;                  
    text-align: center;
}
  
.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    /* выстраивает блоки по горизонтали 
    display: inline-block; */
    /* для  выравнивания блоков по горизонтали */
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: rgb(74, 74, 74);
    font-size: 15px;
    font-weight: 300;    
    line-height: 21px;             
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
    font-weight: 900;
}

.optimization .optimization_header {
    margin-left: 391px;
    color: rgb(41, 156, 189);
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
}

.optimization .optimization_text {  
    margin-top: 25px;
    margin-left: 391px;
    color: rgb(74, 74, 74);    
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/down_bg.jpg') center center/cover no-repeat;
}

.finish .finish_header {
    color: white;
    font-weight: 400;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    /* задавать ширину по самоьу длинному описанию */
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* флексы - блочный элемент, поэтому центрирование при помощи марджина работает */
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.surprise {
    min-height: 628px;
    background-color: rgb(239, 239, 239);
    padding: 86px 0 87px 0;
}

.surprise .surprise_icon {  
        display: block; 
        margin: 0 auto;         
}

.surprise .surprise_rules {
    text-align: center;    
    font-size: 30px;
    color: rgb(37, 37, 37);      
    font-weight: 400;
    line-height: 43px;
    margin-top: 42px;
}

.surprise_button {
    display: block;
    margin: 0 auto;
    margin-top: 52px;    
    width: 325px;
    height: 84px;
    /* 
    выпуклость, смещение по оси "х", смещение по оси "y", размытие, цвет+альфа-канал (прозрачность)
    */
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid (0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);   
    /* текст */
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
  }

.first-webinar {
    min-height: 515px; 
    padding: 89px 0 64px 0;   
}

.first-webinar .notebook_icon {
    display: block; 
    margin: 0 auto;  
}

.first-webinar .webinar_text {

    font-size: 30px;
    color: rgb(37, 37, 37);
    text-transform: uppercase;
    margin-top: 37px;
    font-weight: 400;
    text-align: center;   
}
  
.first-webinar .date {
    margin-top: 30px;
    font-size: 36px;
    font-weight: 900;
    color: rgb(41, 156, 189);
    text-transform: uppercase;        
    text-align: center;     
}

.first-webinar .subtext {
    margin-top: 25px;
    font-size: 23px;
    color: rgb(74, 74, 74);
    text-align: center;  
  }
  
footer {
min-height: 166px;     
background-color: rgb(26, 26, 26);   
padding: 61px 0 69px 0;        
}

.info {
    margin: 0 auto;
    width: 377px;
    text-align: center;
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;     
}

footer a {
    color: #888888;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}


